In [1]:
#Because Prof made us do it
#Importing relevant libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Loading the dataset CT_patients.csv
df_1 = pd.read_csv('CT_patients.csv')
df_1.head()

,Unnamed: 0,PatientPKHash,SiteCode,Gender,DOB,RegistrationDate,RegistrationAtCCC,LastVisit,MaritalStatus,EducationLevel,DateConfirmedHIVPositive,PreviousARTExposure,PreviousARTStartDate,Inschool,PatientType,TransferInDate
0,1,B8E4CB5EF2C0393C9B6CC6E421F4B4AA9AF55AD9C8470D...,13045,Female,1985-05-09,NaN,NaN,2011-01-11,NaN,NaN,NaN,NaN,NaN,NaN,New Client,NaN
1,2,05086304EBB303EB721CEB8CBC5A09E3FF04DBDC5AB98F...,13045,Female,2009-12-23,NaN,NaN,2011-04-04,NaN,NaN,NaN,NaN,NaN,NaN,New Client,NaN
2,3,2738625746C314E2EAD9466C7B2D7D88F1258A766E4982...,13045,Female,1972-05-15,NaN,NaN,2011-04-14,NaN,NaN,NaN,NaN,NaN,NaN,New Client,NaN
3,4,3B18406BAEB2D45018286916A6FFB7DABC5E1469BC422F...,13045,Female,1992-02-15,NaN,NaN,2011-05-04,NaN,NaN,NaN,NaN,NaN,NaN,New Client,NaN
4,5,504EEE25FC08F3D11D234098D7E10C7B7CD6E7C0D95A15...,13045,Female,1987-06-15,NaN,NaN,2011-05-10,NaN,NaN,NaN,NaN,NaN,NaN,New Client,NaN

In [3]:
#Loading the dataset CT_AdverseEvents.csv
df_2 = pd.read_csv('CT_AdverseEvents.csv')
df_2

,Unnamed: 0,PatientPKHash,SiteCode,AdverseEvent,AdverseEventStartDate,AdverseEventEndDate,Severity,VisitDate,AdverseEventActionTaken,AdverseEventClinicalOutcome,AdverseEventIsPregnant,AdverseEventCause,AdverseEventRegimen
0,1,D7FB35A14879AB5DCA26EA988618A91AF10D384C524664...,14001,Hepatic Toxicity,2012-02-29,NaN,Unknown,2017-10-03,Drug Substituted,NaN,NaN,UNSPECIFIED,NaN
1,2,AE4780D6C6D7BBF75F6BB0C3B1A3C93016DB7E0B0C6E3E...,18219,PERIPHERAL NEUROPATHY,2012-08-15,NaN,Severe,2012-08-15,NaN,NaN,NaN,ARV,3TC+AZT+EFV
2,3,6293CFD466C303614E6D60A7BB6F33AAEC14BF2F00A267...,14001,Skin rash,2011-06-16,NaN,Unknown,2014-05-27,Drug Substituted,NaN,NaN,UNSPECIFIED,NaN
3,4,83658D05E5553EF97ACA06087FD6C735C01D3EF127C193...,14001,Hepatic Toxicity,2013-01-29,NaN,Unknown,2017-07-18,Drug Substituted,NaN,NaN,UNSPECIFIED,NaN
4,5,2DB719B0324484293B2A0D15024389009D58BC9EECAEEF...,18743,LIPODYSTROPHY,2011-10-03,NaN,NaN,2011-10-03,NaN,NaN,NaN,ARV,3TC+NVP+TDF
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4053,4054,13E8ECF0FBD26224CB5298645B95B26103F2ED86DF28C2...,17719,Other ADRs,2015-04-08,NaN,Mild,2015-04-08,NaN,NaN,NaN,ARV,3TC+EFV+TDF
4054,4055,5701884DE268526F0C31A7CDEB8AD8F580FF12EDDA28F9...,17719,Hepatic Toxicity,2011-10-04,NaN,Severe,2011-10-04,NaN,NaN,NaN,ARV,3TC+NVP+TDF
4055,4056,6D0058746C4FFDC90FC6247509695006FC4DEA7B9CBA33...,18219,Other ADRs,2013-05-07,NaN,Mild,2013-05-07,NaN,NaN,NaN,ARV,3TC+NVP+TDF
4056,4057,8B5853BCEB7E1931AF395B6E69B7E87ED4B7D0B00C6710...,18219,PERIPHERAL NEUROPATHY,2011-05-10,NaN,NaN,2011-05-10,NaN,NaN,NaN,ARV,3TC+NVP+TDF
4057,4058,159A8E1E97144FC9B83B9FE7934C2F5A2958DB8170C46F...,18219,Hepatic Toxicity,2013-08-19,NaN,Mild,2013-08-19,NaN,NaN,NaN,UNSPECIFIED,3TC+NVP+TDF

In [4]:
#Loading the dataset ct_art_patients.csv
df_3 = pd.read_csv('ct_art_patients.csv')
df_3.head()

,Unnamed: 0,PatientPKHash,SiteCode,ExitReason,ExitDate,AgeEnrollment,AgeLastVisit,AgeARTStart,StartRegimen,LastRegimen,PreviousARTUse,PreviousARTPurpose,PreviousARTRegimen,DateLastUsed,StartARTDate,PreviousARTStartDate,LastARTDate,LastRegimenLine,Duration
0,1,NaN,27424,NaN,NaN,36.0,41.0,36.0,3TC+DTG+TDF,3TC+DTG+TDF,NaN,NaN,NaN,1900-01-01,2019-03-13,NaN,2023-09-13,First line,54.0
1,2,NaN,14076,NaN,NaN,58.0,64.0,58.0,3TC+DTG+TDF,3TC+DTG+TDF,NaN,NaN,NaN,1900-01-01,2017-11-13,NaN,2024-03-18,First line,76.0
2,3,NaN,14099,NaN,NaN,43.0,54.0,43.0,3TC+DTG+TDF,3TC+DTG+TDF,NaN,NaN,NaN,1900-01-01,2013-10-30,NaN,2023-12-21,First line,121.0
3,4,NaN,11643,NaN,NaN,30.0,36.0,30.0,3TC+DTG+TDF,3TC+DTG+TDF,NaN,NaN,NaN,1900-01-01,2018-06-26,NaN,2024-01-08,First line,66.0
4,5,NaN,13515,NaN,NaN,22.0,26.0,22.0,3TC+DTG+TDF,3TC+DTG+TDF,NaN,NaN,NaN,1900-01-01,2019-01-15,NaN,2023-08-17,First line,55.0

In [5]:
#Checking the shape of the dataset CT_patients.csv
df_1.shape

(828719, 16)

In [6]:
#Checking the shape of the dataset CT_AdverseEvents.csv
df_2.shape

(4058, 13)

In [7]:
#Checking the shape of the dataset ct_art_patients.csv
df_3.shape

(1444617, 19)

In [8]:
#Checking the info of the dataset CT_patients.csv
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 828719 entries, 0 to 828718
Data columns (total 16 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Unnamed: 0                828719 non-null  int64
 1   PatientPKHash             828719 non-null  object
 2   SiteCode                  828719 non-null  int64
 3   Gender                    828719 non-null  object
 4   DOB                       828423 non-null  object
 5   RegistrationDate          828196 non-null  object
 6   RegistrationAtCCC         828176 non-null  object
 7   LastVisit                 828719 non-null  object
 8   MaritalStatus             634202 non-null  object
 9   EducationLevel            111436 non-null  object
 10  DateConfirmedHIVPositive  641373 non-null  object
 11  PreviousARTExposure       91745 non-null   object
 12  PreviousARTStartDate      1515 non-null    object
 13  Inschool                  35693 non-null   object
 14  PatientType               545752 non-null  object
 15  TransferInDate            91911 non-null   object
dtypes: int64(2), object(14)
memory usage: 101.2+ MB

In [9]:
#Checking the info of the dataset CT_AdverseEvents.csv
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4058 entries, 0 to 4057
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   4058 non-null   int64
 1   PatientPKHash                4058 non-null   object
 2   SiteCode                     4058 non-null   int64
 3   AdverseEvent                 3983 non-null   object
 4   AdverseEventStartDate        3746 non-null   object
 5   AdverseEventEndDate          0 non-null      float64
 6   Severity                     3394 non-null   object
 7   VisitDate                    4058 non-null   object
 8   AdverseEventActionTaken      1118 non-null   object
 9   AdverseEventClinicalOutcome  0 non-null      float64
 10  AdverseEventIsPregnant       0 non-null      float64
 11  AdverseEventCause            4058 non-null   object
 12  AdverseEventRegimen          2704 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 412.3+ KB

In [10]:
#Checking the info of the dataset ct_art_patients.csv
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1444617 entries, 0 to 1444616
Data columns (total 19 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Unnamed: 0            1444617 non-null  int64
 1   PatientPKHash         1433763 non-null  object
 2   SiteCode              1444617 non-null  int64
 3   ExitReason            542840 non-null   object
 4   ExitDate              554609 non-null   object
 5   AgeEnrollment         1403222 non-null  float64
 6   AgeLastVisit          1389609 non-null  float64
 7   AgeARTStart           1403222 non-null  float64
 8   StartRegimen          1378791 non-null  object
 9   LastRegimen           1404283 non-null  object
 10  PreviousARTUse        0 non-null        float64
 11  PreviousARTPurpose    0 non-null        float64
 12  PreviousARTRegimen    75676 non-null    object
 13  DateLastUsed          1424212 non-null  object
 14  StartARTDate          1444617 non-null  object
 15  PreviousARTStartDate  683819 non-null   object
 16  LastARTDate           1444431 non-null  object
 17  LastRegimenLine       1069088 non-null  object
 18  Duration              1392358 non-null  float64
dtypes: float64(6), int64(2), object(11)
memory usage: 209.4+ MB

In [11]:
#Checking the descriptive statistics of the dataset CT_patients.csv
df_1.describe()

          Unnamed: 0       SiteCode
count  828719.000000  828719.000000
mean   414360.000000   13958.437131
std    239230.713203    1963.447745
min         1.000000   10019.000000
25%    207180.500000   12911.000000
50%    414360.000000   13805.000000
75%    621539.500000   15204.000000
max    828719.000000   28742.000000

In [12]:
#Checking the descriptive statistics of the dataset CT_AdverseEvents.csv
df_2.describe()

,Unnamed: 0,SiteCode,AdverseEventEndDate,AdverseEventClinicalOutcome,AdverseEventIsPregnant
count,4058.000000,4058.000000,0.0,0.0,0.0
mean,2029.500000,14643.942336,NaN,NaN,NaN
std,1171.588025,2172.405760,NaN,NaN,NaN
min,1.000000,10049.000000,NaN,NaN,NaN
25%,1015.250000,13075.000000,NaN,NaN,NaN
50%,2029.500000,14001.000000,NaN,NaN,NaN
75%,3043.750000,17548.000000,NaN,NaN,NaN
max,4058.000000,20138.000000,NaN,NaN,NaN

In [13]:
#Checking the descriptive statistics of the dataset ct_art_patients.csv
df_3.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,1444617.0,722309.000000,417025.151250,1.0,361155.0,722309.0,1083463.0,1444617.0
SiteCode,1444617.0,14070.620075,2117.369675,10019.0,12950.0,13815.0,15204.0,29630.0
AgeEnrollment,1403222.0,32.184206,22.671854,0.0,24.0,32.0,40.0,999.0
AgeLastVisit,1389609.0,38.494628,20.927401,0.0,29.0,38.0,48.0,999.0
AgeARTStart,1403222.0,32.981935,22.216333,0.0,25.0,32.0,41.0,999.0
PreviousARTUse,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PreviousARTPurpose,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Duration,1392358.0,72.689463,84.382285,0.0,28.0,70.0,106.0,48000.0

In [14]:
#Listing columns in CT_patients.csv
df_1.columns.to_list()

['Unnamed: 0',
 'PatientPKHash',
 'SiteCode',
 'Gender',
 'DOB',
 'RegistrationDate',
 'RegistrationAtCCC',
 'LastVisit',
 'MaritalStatus',
 'EducationLevel',
 'DateConfirmedHIVPositive',
 'PreviousARTExposure',
 'PreviousARTStartDate',
 'Inschool',
 'PatientType',
 'TransferInDate']

In [15]:
#Listing columns in CT_AdverseEvents.csv
df_2.columns.to_list()

['Unnamed: 0',
 'PatientPKHash',
 'SiteCode',
 'AdverseEvent',
 'AdverseEventStartDate',
 'AdverseEventEndDate',
 'Severity',
 'VisitDate',
 'AdverseEventActionTaken',
 'AdverseEventClinicalOutcome',
 'AdverseEventIsPregnant',
 'AdverseEventCause',
 'AdverseEventRegimen']

In [16]:
#Listing columns in ct_art_patients.csv
df_3.columns.to_list()

['Unnamed: 0',
 'PatientPKHash',
 'SiteCode',
 'ExitReason',
 'ExitDate',
 'AgeEnrollment',
 'AgeLastVisit',
 'AgeARTStart',
 'StartRegimen',
 'LastRegimen',
 'PreviousARTUse',
 'PreviousARTPurpose',
 'PreviousARTRegimen',
 'DateLastUsed',
 'StartARTDate',
 'PreviousARTStartDate',
 'LastARTDate',
 'LastRegimenLine',
 'Duration']

In [17]:
#Check for missing values in CT_patients.csv
df_1.isnull().sum()

Unnamed: 0                       0
PatientPKHash                    0
SiteCode                         0
Gender                           0
DOB                            296
RegistrationDate               523
RegistrationAtCCC              543
LastVisit                        0
MaritalStatus               194517
EducationLevel              717283
DateConfirmedHIVPositive    187346
PreviousARTExposure         736974
PreviousARTStartDate        827204
Inschool                    793026
PatientType                 282967
TransferInDate              736808
dtype: int64

In [18]:
#Check for missing values in CT_AdverseEvents.csv
df_2.isnull().sum()

Unnamed: 0                        0
PatientPKHash                     0
SiteCode                          0
AdverseEvent                     75
AdverseEventStartDate           312
AdverseEventEndDate            4058
Severity                        664
VisitDate                         0
AdverseEventActionTaken        2940
AdverseEventClinicalOutcome    4058
AdverseEventIsPregnant         4058
AdverseEventCause                 0
AdverseEventRegimen            1354
dtype: int64

In [19]:
#Check for missing values in CT_art_patients.csv
df_3.isnull().sum()

Unnamed: 0                    0
PatientPKHash             10854
SiteCode                      0
ExitReason               901777
ExitDate                 890008
AgeEnrollment             41395
AgeLastVisit              55008
AgeARTStart               41395
StartRegimen              65826
LastRegimen               40334
PreviousARTUse          1444617
PreviousARTPurpose      1444617
PreviousARTRegimen      1368941
DateLastUsed              20405
StartARTDate                  0
PreviousARTStartDate     760798
LastARTDate                 186
LastRegimenLine          375529
Duration                  52259
dtype: int64

In [20]:
#Checking for duplicate values in CT_patients.csv
df_1.nunique()

Unnamed: 0                  828719
PatientPKHash               145534
SiteCode                      1535
Gender                           2
DOB                          27300
RegistrationDate              6763
RegistrationAtCCC             6750
LastVisit                     3286
MaritalStatus                   10
EducationLevel                   6
DateConfirmedHIVPositive      7054
PreviousARTExposure             90
PreviousARTStartDate          1190
Inschool                         2
PatientType                      5
TransferInDate                5146
dtype: int64

In [21]:
#Checking for duplicate values in CT_AdverseEvents.csv
df_2.nunique()

Unnamed: 0                     4058
PatientPKHash                  2885
SiteCode                        127
AdverseEvent                     48
AdverseEventStartDate          1474
AdverseEventEndDate               0
Severity                          4
VisitDate                      1785
AdverseEventActionTaken           6
AdverseEventClinicalOutcome       0
AdverseEventIsPregnant            0
AdverseEventCause                 4
AdverseEventRegimen              26
dtype: int64

In [22]:
#Checking for duplicate values in CT_art_patients.csv
df_3.nunique()

Unnamed: 0              1444617
PatientPKHash            188391
SiteCode                   2303
ExitReason                    6
ExitDate                   5792
AgeEnrollment              3698
AgeLastVisit               3782
AgeARTStart                3736
StartRegimen                350
LastRegimen                 374
PreviousARTUse                0
PreviousARTPurpose            0
PreviousARTRegimen          368
DateLastUsed                  1
StartARTDate               3286
PreviousARTStartDate       4739
LastARTDate                5271
LastRegimenLine              23
Duration                    476
dtype: int64

In [23]:
#Combine the DataFrames into a single DataFrame using the PatientPKHash column
def join_dataframes(dataframes):
    """
    This function takes in a list of DataFrames and combines them into a single DataFrame
    using the PatientPKHash column , keeping only rows with matching PatientPKHash values.

    Args:
        dataframes(list): A list of DataFrames to be combined.

    Returns:
        Pandas.DataFrame: The combined DataFrame.

    Raises:
        ValueError: If the any of the DataFrames do not have a PatientPKHash column.
    """
    #Check if the PatientPKHash column exists in all DataFrames and have the same name
    pkhash_columns = set([col for df in dataframes for col in df.columns if col=='PatientPKHash'])
    if len(pkhash_columns) !=1:
        raise ValueError('All DataFrames must have a PatientPKHash column with the same name.')

    #Perform iterative inner merges based on PatientPKHash
    merged_df = dataframes[0]
    for df in dataframes[1:]:
        merged_df = merged_df.merge(df, on='PatientPKHash', how='inner')
    
    return merged_df

In [24]:
#Combine CT_patients.csv and CT_AdverseEvents.csv
df = join_dataframes([df_1, df_2])
df.shape

(291128, 28)

In [25]:
def remove_rows_with_most_na(df, threshold=0.7):
    """
    This function removes rows with more than a certain percentage of missing values.

    Args:
        df(pandas.DataFrame): The DataFrame to be cleaned.
        threshold(float): The threshold value for percentage of missing values. Default is 0.7.

    Returns:
        Pandas.DataFrame: The cleaned DataFrame.
    """
    #Get the percentage of missing values in each column
    missing_ratios = df.isna().mean(axis=1)

    #Remove rows with more than the threshold percentage of missing values
    df = df[missing_ratios < threshold]

    return df

In [26]:
#Clean df_3
df_3 = remove_rows_with_most_na(df_3, threshold=0.25)
df_3.shape

(373796, 19)

In [27]:
#Clean df
df = remove_rows_with_most_na(df, threshold=0.25)
df.shape

(1036, 28)

In [28]:
#merge df_3 and df
df = join_dataframes([df, df_3])
df.shape

(137428, 46)

In [29]:
df.columns.to_list()

['Unnamed: 0_x',
 'PatientPKHash',
 'SiteCode_x',
 'Gender',
 'DOB',
 'RegistrationDate',
 'RegistrationAtCCC',
 'LastVisit',
 'MaritalStatus',
 'EducationLevel',
 'DateConfirmedHIVPositive',
 'PreviousARTExposure',
 'PreviousARTStartDate_x',
 'Inschool',
 'PatientType',
 'TransferInDate',
 'Unnamed: 0_y',
 'SiteCode_y',
 'AdverseEvent',
 'AdverseEventStartDate',
 'AdverseEventEndDate',
 'Severity',
 'VisitDate',
 'AdverseEventActionTaken',
 'AdverseEventClinicalOutcome',
 'AdverseEventIsPregnant',
 'AdverseEventCause',
 'AdverseEventRegimen',
 'Unnamed: 0',
 'SiteCode',
 'ExitReason',
 'ExitDate',
 'AgeEnrollment',
 'AgeLastVisit',
 'AgeARTStart',
 'StartRegimen',
 'LastRegimen',
 'PreviousARTUse',
 'PreviousARTPurpose',
 'PreviousARTRegimen',
 'DateLastUsed',
 'StartARTDate',
 'PreviousARTStartDate_y',
 'LastARTDate',
 'LastRegimenLine',
 'Duration']

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137428 entries, 0 to 137427
Data columns (total 46 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0_x                 137428 non-null  int64
 1   PatientPKHash                137428 non-null  object
 2   SiteCode_x                   137428 non-null  int64
 3   Gender                       137428 non-null  object
 4   DOB                          137428 non-null  object
 5   RegistrationDate             137428 non-null  object
 6   RegistrationAtCCC            137428 non-null  object
 7   LastVisit                    137428 non-null  object
 8   MaritalStatus                137422 non-null  object
 9   EducationLevel               136675 non-null  object
 10  DateConfirmedHIVPositive     137428 non-null  object
 11  PreviousARTExposure          137428 non-null  object
 12  PreviousARTStartDate_x       0 non-null       object
 13  Inschool                     19950 non-null   object
 14  PatientType                  137428 non-null  object
 15  TransferInDate               124133 non-null  object
 16  Unnamed: 0_y                 137428 non-null  int64
 17  SiteCode_y                   137428 non-null  int64
 18  AdverseEvent                 137428 non-null  object
 19  AdverseEventStartDate        137261 non-null  object
 20  AdverseEventEndDate          0 non-null       float64
 21  Severity                     137428 non-null  object
 22  VisitDate                    137428 non-null  object
 23  AdverseEventActionTaken      137422 non-null  object
 24  AdverseEventClinicalOutcome  0 non-null       float64
 25  AdverseEventIsPregnant       0 non-null       float64
 26  AdverseEventCause            137428 non-null  object
 27  AdverseEventRegimen          6 non-null       object
 28  Unnamed: 0                   137428 non-null  int64
 29  SiteCode                     137428 non-null  int64
 30  ExitReason                   130884 non-null  object
 31  ExitDate                     131839 non-null  object
 32  AgeEnrollment                137428 non-null  float64
 33  AgeLastVisit                 137428 non-null  float64
 34  AgeARTStart                  137428 non-null  float64
 35  StartRegimen                 137363 non-null  object
 36  LastRegimen                  137338 non-null  object
 37  PreviousARTUse               0 non-null       float64
 38  PreviousARTPurpose           0 non-null       float64
 39  PreviousARTRegimen           7525 non-null    object
 40  DateLastUsed                 136439 non-null  object
 41  StartARTDate                 137428 non-null  object
 42  PreviousARTStartDate_y       89841 non-null   object
 43  LastARTDate                  137428 non-null  object
 44  LastRegimenLine              98062 non-null   object
 45  Duration                     137427 non-null  float64
dtypes: float64(9), int64(6), object(31)
memory usage: 48.2+ MB

In [31]:
converted_df = df

In [32]:
converted_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137428 entries, 0 to 137427
Data columns (total 46 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0_x                 137428 non-null  int64
 1   PatientPKHash                137428 non-null  object
 2   SiteCode_x                   137428 non-null  int64
 3   Gender                       137428 non-null  object
 4   DOB                          137428 non-null  object
 5   RegistrationDate             137428 non-null  object
 6   RegistrationAtCCC            137428 non-null  object
 7   LastVisit                    137428 non-null  object
 8   MaritalStatus                137422 non-null  object
 9   EducationLevel               136675 non-null  object
 10  DateConfirmedHIVPositive     137428 non-null  object
 11  PreviousARTExposure          137428 non-null  object
 12  PreviousARTStartDate_x       0 non-null       object
 13  Inschool                     19950 non-null   object
 14  PatientType                  137428 non-null  object
 15  TransferInDate               124133 non-null  object
 16  Unnamed: 0_y                 137428 non-null  int64
 17  SiteCode_y                   137428 non-null  int64
 18  AdverseEvent                 137428 non-null  object
 19  AdverseEventStartDate        137261 non-null  object
 20  AdverseEventEndDate          0 non-null       float64
 21  Severity                     137428 non-null  object
 22  VisitDate                    137428 non-null  object
 23  AdverseEventActionTaken      137422 non-null  object
 24  AdverseEventClinicalOutcome  0 non-null       float64
 25  AdverseEventIsPregnant       0 non-null       float64
 26  AdverseEventCause            137428 non-null  object
 27  AdverseEventRegimen          6 non-null       object
 28  Unnamed: 0                   137428 non-null  int64
 29  SiteCode                     137428 non-null  int64
 30  ExitReason                   130884 non-null  object
 31  ExitDate                     131839 non-null  object
 32  AgeEnrollment                137428 non-null  float64
 33  AgeLastVisit                 137428 non-null  float64
 34  AgeARTStart                  137428 non-null  float64
 35  StartRegimen                 137363 non-null  object
 36  LastRegimen                  137338 non-null  object
 37  PreviousARTUse               0 non-null       float64
 38  PreviousARTPurpose           0 non-null       float64
 39  PreviousARTRegimen           7525 non-null    object
 40  DateLastUsed                 136439 non-null  object
 41  StartARTDate                 137428 non-null  object
 42  PreviousARTStartDate_y       89841 non-null   object
 43  LastARTDate                  137428 non-null  object
 44  LastRegimenLine              98062 non-null   object
 45  Duration                     137427 non-null  float64
dtypes: float64(9), int64(6), object(31)
memory usage: 48.2+ MB

In [34]:
converted_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137428 entries, 0 to 137427
Data columns (total 40 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Unnamed: 0_x              137428 non-null  int64
 1   PatientPKHash             137428 non-null  object
 2   SiteCode_x                137428 non-null  int64
 3   Gender                    137428 non-null  object
 4   DOB                       137428 non-null  object
 5   RegistrationDate          137428 non-null  object
 6   RegistrationAtCCC         137428 non-null  object
 7   LastVisit                 137428 non-null  object
 8   MaritalStatus             137428 non-null  object
 9   EducationLevel            137428 non-null  object
 10  DateConfirmedHIVPositive  137428 non-null  object
 11  PreviousARTExposure       137428 non-null  object
 12  Inschool                  19950 non-null   object
 13  PatientType               137428 non-null  object
 14  TransferInDate            137428 non-null  object
 15  Unnamed: 0_y              137428 non-null  int64
 16  SiteCode_y                137428 non-null  int64
 17  AdverseEvent              137428 non-null  object
 18  AdverseEventStartDate     137428 non-null  object
 19  Severity                  137428 non-null  object
 20  VisitDate                 137428 non-null  object
 21  AdverseEventActionTaken   137422 non-null  object
 22  AdverseEventCause         137428 non-null  object
 23  AdverseEventRegimen       137428 non-null  object
 24  Unnamed: 0                137428 non-null  int64
 25  SiteCode                  137428 non-null  int64
 26  ExitReason                130884 non-null  object
 27  ExitDate                  137428 non-null  object
 28  AgeEnrollment             137428 non-null  float64
 29  AgeLastVisit              137428 non-null  float64
 30  AgeARTStart               137428 non-null  float64
 31  StartRegimen              137363 non-null  object
 32  LastRegimen               137338 non-null  object
 33  PreviousARTRegimen        137428 non-null  object
 34  DateLastUsed              137428 non-null  object
 35  StartARTDate              137428 non-null  object
 36  PreviousARTStartDate_y    137428 non-null  object
 37  LastARTDate               137428 non-null  object
 38  LastRegimenLine           137428 non-null  object
 39  Duration                  137427 non-null  float64
dtypes: float64(4), int64(6), object(30)
memory usage: 41.9+ MB